

.moves{
    background-color: #aabd3075;
    padding: 15px;
}
h2 {
    text-align: center;
}

.move{
    list-style: none;
    border-top: 1px solid gold;
    margin-top: 3px;
    text-align: center;
    padding: 10px;
  
}