.transfer-fund{
    background-color: #6626c67a;
    margin: 15px 00 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button{
    background-color: #ffffff2a;
}

input{
    margin: 8px;
    width: 4.2rem;

}