.main-app {
    min-height: 100vh;
    display: flex;
   
    flex-direction: column;
    // align-items: center;

    header {
        height: 80px;
        display: flex;
        align-items: center;
        // background-color: #4caf50;
        color: whitesmoke;
        margin-bottom: 30px;
        font-size: 2.2em;
        justify-content: space-around;
    }

    main {
        flex-grow: 1;
        display: flex;
    justify-content: center;
    }

    footer {
        height: 80px;
        display: flex;
        align-items: center;
        color: whitesmoke;
        // background-color: #151515;
        font-size: 1.2em;
    }
}

.nav{
    cursor: pointer;
}